.logggg{
    height: 500px;
    width: 500px;
    border: 2px solid blue;
    background-color: beige;

}

.heading{
    background-color: burlywood;
    height: 50px;
    margin-top: 20px;
}